/* @tailwind base; */
@tailwind components;
@tailwind utilities;

  .home-screen{
    background-color: #FCDE7C;
  }

  .dark-home {
    background: #1C1C1C;
    flex: 1;
    padding: 2rem; 
  }
  
  .yellow-home {
    color: #FCDE7C;
  }
  

  .home-text {
    color: #FFF;
    text-transform: uppercase;
  }
  
  .sub-text {
    color: #AAA;
    text-transform: uppercase;
    
  }
  
  .home-buttons {
    margin-top: 2rem;
  }
  
  .homescreen-btn{
    width: 140px;
    height: 40px;
    margin: 20px;
    border-radius: 8px;
    font-weight: bolder;
  }
  .y-btn-home {
    background: #FCDE7C;
    
  }
  
  .t-btn-home {
    background: transparent;
    border: 1px solid #FCDE7C;
    color: #FCDE7C;
  }
  .t-btn-home:hover{background-color:#FCDE7C; color: #1C1C1C;}
  