.laundro-mart{
    display: grid;
}

.laundro-mart-details-container{
    margin: 10px auto;
    justify-content: center;
    padding-left: 40px;
    padding-right: 20px;
}


.br-line{border: 1px solid black; margin-top: 4px;}
.laundro-mart-name{
    font-weight: bolder;
}
#laundro-text{ margin-bottom: 2px;}
#opening-time{color: #ff0000;}
.br-line{ border-bottom: 1px solid black; margin-top: 5px; }

.laundro-mart-address, 
.laundro-mart-rating{color: #6B6B6B;}

@media screen and (max-width: 600px) {
    .laundry-image-container{display: flex;}
    .laundry-image{
        margin: 20px auto;
       
    }
  }

@media screen and (min-width: 600px) {
    .laundro-mart-details-container{
        display: grid;
        grid-template-columns: 2fr 1fr;
        text-align: left;
        
    }
    #laundro-text{ font-size: 12px;}
    #laundro-text.laundro-mart-name{font-size: 14px;}
    .laundro-mart-details{display: grid; grid-template-columns: repeat(1fr,4); }
    .laundry-image{ height: 100px;}
  }