
.tailor-wrapper {
  display: grid;
}


.tailor-services{
  margin: 0 auto ;
  width: 100%;
}
.tailor-header{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}

.tailor-header span{
    border-bottom: 2px solid black;
}

.tailor-header span:hover{
    cursor: pointer;
 }
 
 #inactive{ color:  #6B6B6B;
     border-bottom: 2px solid white;
 }
 
 
 .tailor-header span, #inactive:hover{
     color:  #000000;
     border-bottom: 2px solid black;
 }

  
  .basemap img {
    max-width: 100%;
  }
  
  @media screen and (max-width: 600px) {
    .content {
      grid-template-columns: 1fr;
    }
  }
  
