.tailor-header{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
  margin-top: 10px;
}

.tailor-wrapper {
  display: grid;
}
 
.tailor-header span{
  border-bottom: 2px solid black;
}

.tailor-header span:hover{
  cursor: pointer;
}

.tailor-services{
  margin: 0 auto;
  width: 100%;
  
}

 #inactive{ color:  #6B6B6B;
     border-bottom: 2px solid white;
 }
 
 
 .tailor-header span, #inactive:hover{
     color:  #000000;
     border-bottom: 2px solid black;
 }

.tailor-marts{margin-left: 20px; }
  
  .basemap img {
    max-width: 100%;
  }
  
  @media screen and (max-width: 767px) {
    .content {
      grid-template-columns: 1fr;
    }
  }
  
  @media screen and (min-width:767px) {
    .tailor-wrapper{ grid-template-columns: 1fr  3fr; gap: 10px;}
    .basemap img {max-height: 100%;}
    .tailor-image {width: 100px; height: 100px;}}