.profile-name{
	display:flex;
	justify-content: center;
	align-items: center;
}

/* Style the NavDropdown title when it's not clicked */
.navbar-expand-lg .navbar-nav .nav-item.dropdown:not(.show) .nav-link.dropdown-toggle {
  color: #fff;
}

.navbar-expand-lg .navbar-nav .nav-item.dropdown:not(.show):hover .nav-link.dropdown-toggle {
  color: #FCDE7C;
}

/* Style the NavDropdown title when it's clicked */
.navbar-expand-lg .navbar-nav .nav-item.dropdown.show .nav-link.dropdown-toggle {
	color: #02C5BB;
}

.e-wardrobe-dropdown .dropdown-menu {
	border-radius: 0%;
}
