.logo {
    font-family: Leckerli One;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    color: #FFF;
  }

  .yellow {
    color: #FCDE7C;
  }
  
 