
  .laundry-search-input {
    align-items: center; 
    position: relative;
    margin-left: 10px;
    text-align: center;
    align-items: center;
    box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.6);
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
   
  }
  .laundry-search-placeholder{
    border: 0; margin: auto; outline: 0; height: 40px;}
  
  .laundry-search-icon {
    margin-right: 10px; 
    position: absolute;
    top: 32%;
    left: 10%;
    font-size: 10px;
    margin: auto;
  }
  
 @media screen and ( max-width:767px) {
    .laundry-search-input{margin-right: 10px;}
 }