.laundry-search-input {
    display: flex; 
    align-items: center; 
    position: relative;
    margin-left: 20px;
    text-align: center;
  }
  
  .laundry-search-icon {
    margin-right: 10px; 
    position: absolute;
    top: 15%;
    left: 4%;
  }
  
  .laundry-input-with-shadow {
    flex: 1; 
    max-width: 300px; 
    height: 30px; 
    border: 1px solid #ccc; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
    padding: 5px;
    box-sizing: border-box;
  }
  

/* .laundry-search-input-container{
    margin: auto;
}
.laundry-search-input{
    margin: 0.15em auto;
   
    align-items: center;
    border-radius: 6px;
    position: relative;
    font-size: 12px;
    text-align: center;
    margin-right: 6px; 
    
   
}

.laundry-search-placeholder{
    margin: auto;
}

.laundry-search-input .laundry-search-icon{
    position: absolute;
    top: 15%;
    left: 4%;
    color: #aaaaaa;
    width: 10px;
    height: 10px;
    
    
}

.laundry-search-input input{
    padding: 10px 0 10px 10%;
    border-radius: 3px;

}

@media screen and (min-width:767px) {
    .tailor-wrapper{ grid-template-columns: 1fr  3fr; gap: 1px;padding-top: 0; padding-right: 0;}
    .basemap img {max-height: 100%;}
 
}  */