.e-wardrobe-page{
    background-color: #FCF8F8;
}

.e-wardrobe-subtitle{
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin: 1.75em 0 0.75em;
}

.switch-wardrobe-generate{
    width: 60%;
    margin: 1em auto;
    display: flex;
    justify-content: space-between;
}

.switch-wardrobe-generate h4{
    font-size: 22px;
    color: #6b6b6b;
    cursor: pointer;
}

.switch-wardrobe-generate .active{
    font-weight: 700;
    border-bottom: 2px solid #000000;
    color: #000000;
    padding-bottom: 8px;
}

.display-wardrobe, .display-generate-collection{
    width: 80%;
    margin: 2em auto 4em auto;
    display: flex;
    justify-content: space-between;
}
.wardrobe-img1,
.wardrobe-img2,
.wardrobe-img3,
.generated-collection-img1, 
.generated-collection-img2,
.generated-collection-img3{
    width: 30%;
    position: relative;
}
.delete-wardrobe-item{
    position: absolute;
    bottom: 5%;
    right: 5%;
    color: #000000;
}

.e-wardrobe-img{
    width: 100%;
}

.delete-wardrobe-position{
    position: relative;
}

.delete-wardrobe-position span{
    position: absolute;
    right: 10px;
    top: 10%;
    font-size: 20px;
}


.delete-wardrobe-item button{
  background-color: #ffffff;
  padding: 1em 3em 1em 2em;
  border-radius: 4px;
  font-size: 11px;
  border:1px solid grey;
}

.delete-wardrobe-item button:hover{
    background-color: #f03333;
    padding: 1em 3em 1em 2em;
    border-radius: 4px;
    font-size: 11px;
    border:1px solid rgb(226, 224, 224);
    color:white;
  }

.e-wardrobe-add-more {
    font-size: 3rem;
    position: fixed;
    right: 5%;
    bottom: 10%;
}
@media  only screen and (max-width: 600px) {
    .display-wardrobe, .display-generate-collection{
        width: 80%;
        margin: 2em auto 4em auto;
        display: block;
        justify-content: space-between;
    }

    .wardrobe-img1,
    .wardrobe-img2,
    .wardrobe-img3,
    .generated-collection-img1, 
    .generated-collection-img2,
    .generated-collection-img3{
        width: 100%;
        margin-bottom: 1em;
    }

    .e-wardrobe-subtitle{
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        margin: 1.75em 0 0.75em;
    }

    .switch-wardrobe-generate{
        width: 90%;
        margin: 1em auto;
        display: flex;
        justify-content: space-between;
    }

    .switch-wardrobe-generate .active{
        padding-bottom: 5px;
    }

    .switch-wardrobe-generate h4{
        font-size: 13px;
        color: #6b6b6b;
        cursor: pointer;
    }
}

@media  only screen and (min-width: 600px) and (max-width: 965px){
    .switch-wardrobe-generate{
        width: 80%;
        margin: 1em auto;
        display: flex;
        justify-content: space-between;
    }
}