.outfit-top {
	margin-top: 58px;
}

.weather-value {
	display: flex;
  color: #1C1C1C;
  font-weight: 500;
  font-size: 9.246px;
  font-style: normal;
	align-items: center;
  line-height: normal;
  text-transform: capitalize;
}

.outfit-header {
	display: flex;
	color: #000;
	font-size: 24px;
	font-weight: 700;
	font-style: normal;
	align-items: center;
	line-height: normal;
	justify-content: center;
}

.outfit-upload {
	display: flex;
	color: #000;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.outfit-text {
	color: #1C1C1C;
	font-size: 10px;
	font-weight: 400;
	font-style: normal;
	line-height: normal;
	text-decoration: none;
	text-transform: capitalize;
}

.outfit-text:hover,
.outfit-text:focus,
.outfit-text:active {
	color: #1C1C1C;
}

.dropdown-menu {
	border-radius: 0%;
}

.item-dropdown-menu:hover {
	background-color: #F6A590;
}

.outfit-body {
	display: flex;
	align-items: center;
	margin-bottom: 149px;
	flex-direction: column;
	justify-content: center;
}
