@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');

.app-navbar {
  background-color: #1c1c1c;
}

.navbar-brand {
  color: #fff;
  font-family: 'Leckerli One', cursive;
}

.navbar-brand:hover {
  color: #FCDE7C;
}

.nav-link {
  color: white;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.nav-link:hover {
  color: #FCDE7C;
}

.navbar-toggler {
  background-color: #fff;
}

.app-navbar .nav-link.active {
  color: #FCDE7C;
}

.right-margin {
  margin-right: 3px;
}

.generate-outfit-text {
  color: #1C1C1C;
  font-size: 37px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.button-width {
  border-radius: 5px;
  width: 350px;
  color: #FCDE7C;
  text-transform: uppercase;
}

.hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.e-wardrobe-background {
  background-image: url("images/landing/e-wardrobe.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.e-wardrobe-header {
  color: #FFF;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 44.5px;
}

.e-wardrobe-text {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}

.button-width-e-wardrobe {
  border-radius: 5px;
  width: 220px;
  color: #FCDE7C;
  text-transform: uppercase;
  font-size: 14px;
  height: 62px;
}
